.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

  .Container-Title {
    margin-bottom: 20px;
  }

  .Container-Preview {
    justify-items: center;
    align-items: center;

    .Container-Preview__ItemContainer {
      position: relative;
      display: inline-block;
      height: fit-content;
      width: fit-content;

      .Preview_ItemContainer--HoverTrigger {
        width: 100%;
        height: min(100vw, 200px);
        object-fit: cover;
        margin: 0 auto;
      }

      .Preview_ItemContainer--HoverText {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        padding: 10px;
      }

      &:hover {
        .Preview_ItemContainer--HoverTrigger {
          opacity: 0.5;
        }

        .Preview_ItemContainer--HoverText {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
