.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    padding: 13px 89px 13px 23px;
}

.headerImage {
    width: 144px;
    height: 30px;
}

.headerUser {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 0 8px;
}
.headerAvatar {
    display: flex;
    background-color: #FFC96B;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
    justify-content: center;
    align-items: center;

    span {
        font-size: 14px;
        font-weight: 400;
        color: #3D2800;
    }
}

.headerUsername {
    color: #202223;

}
