.body {
  width: 795px;
  height: 100%;
  margin: 0 auto;

  h1 {
    font-size: 20px;
    line-height: 32px;
  }

  :global {
    .Polaris-Button {
      background: #008060 !important;
      padding: 8px 16px !important;
    }

    .Polaris-Button__Text {
      color: #fff !important;
      font-size: 14px !important;
      line-height: 20px !important;
    }

    .Polaris-ButtonGroup {
      display: flex;
      gap: 12px;

      .Polaris-ButtonGroup__Item {
        &:nth-child(2) {
          .Polaris-Button {
            border-radius: 0 4px 4px 0;
            background: #fff !important;

            .Polaris-Button__Text {
              color: #202223 !important;

            }
          }
        }

        &:nth-child(3) {
          .Polaris-Button {
            border-radius: 4px;
            background: #D82C0D !important;
            padding: 5px 12px !important;
          }
        }
      }
    }

    .Polaris-CheckableButton {
      border: none !important;
    }
  }
}

.bodySection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
}

