.resourceList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  :global {

  }

  .right {
    display: flex;
    align-items: center;
    gap: 0 20px;

    :global {
      .Polaris-Button {
        padding: 5px 12px !important;
        background: #fff !important;
        border-radius: 4px !important;

        &:nth-child(1) {
          border: 1px solid #BABFC3;
        }

        &:nth-child(2) {
          border: 1px solid #BABFC3;

          .Polaris-Button__Text {
            color: #202223 !important;
          }
        }

        &:nth-child(3) {
          background-color: #D82C0D !important;
        }
      }

      .Polaris-Button__Text {
        font-size: 14px !important;
        line-height: 20px !important;
      }
    }
  }
}
